body {
    background-color: lightgray;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-family: 'Montserrat', cursive;
    padding-top: 2%;
}

.jumbotron {
    padding: 10px;
}

.head-table {
    padding: 1% 25%;
}

.delayed-10 {
    color:darkgoldenrod;
}

.delayed-30 {
    color: red;
}

.content-table {
    padding: 1% 15%;
    padding-bottom: 2%;
    font-size: 30px;
}

.tickets-list {
    padding: 1% 15%;
    padding-bottom: 2%;
}

.table-border {
    box-shadow: 0 10px 10px 8px #888888;
}

.closed {
    color: greenyellow;
}

@media (max-width: 600px) {
    .content-table {
        font-size: 20px;
        padding: 1% 10%;
    }

    h3 {
        font-size: 20px;
    }

    .head-table {
        padding: 1% 20%;
    }