{% extends "base.html" %}

{% block content %}

<h1>Tickets Mantenimiento</h1>

<!-- Tabla de estatus -->

<div class="head-table">
    <table class="table table-hover">
        <tbody>
          <tr class="table-secondary">
            <td><h3>Total: {{ all_tickets }}</h3></td>
          </tr>
          <tr class="table-warning">
            <td><h3 class="delayed-10">Atrasados +10 días: {{ tickets_delayed_10 }}</h3></td>
          </tr>
          <tr class="table-danger">
            <td><h3 class="delayed-30">Atrasados +30 días: {{ tickets_delayed_30 }}</h3></td>
          </tr>
        </tbody>
      </table>
</div>

<div class="content-table">
    <div class="table-border">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Cerrados (mes actual)</th>
                <th scope="col">Pendientes</th>
            </tr>
            </thead>
            <tbody>
                {% for user_count in tickets %}
    
                <tr>
                    <td>{{ user_count["user"] }}</td>
                    <td class="closed">{{ user_count["closed"] }}</td>
                    <td>{{ user_count["count"] }}</td>
                </tr>
    
                {% endfor %}
    
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}